.Metric{
    padding-inline: 12px;
    padding-block: 12px;
    border-radius: 8px;
    border: 1px solid var(--color-gray-2);

    & > h6{
        padding-bottom: 12px;
    }

    & > p{
        color: var(--color-black);
    }

    & > p + p{
        color: var(--color-gray-1);
    }
}
