dialog[role="dialog"] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-50px);
    inline-size: 80%;
    min-inline-size: 240px;
    max-inline-size: 480px;
    border-radius: 12px;
    border: none;
    padding-inline: 24px;
    padding-block: 20px;
    opacity: 0;
    transition: transform .3s, opacity .3s, display .3s;
    transition-behavior: allow-discrete;
    display: flex;
    flex-flow: column wrap;
    gap: 12px;

    &:popover-open {
        transform: translate(-50%, -50%) translateY(0);
        opacity: 1;

        @starting-style {
            transform: translate(-50%, -50%) translateY(20px);
            opacity: 0;
        }
    }

    &::backdrop {
        background: color-mix(in srgb, var(--color-gray-1) 50%, transparent);
    }

    & > form{
        inline-size: 100%;
    }
}
