.Button{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1ch;

    &.PrimaryButton{
        padding-inline: 12px;
        padding-block: 8px;
        border-radius: 6px;
    }

    &.BlueButton{
        background: var(--color-blue);
        color: var(--color-white);
        border: 1px solid var(--color-blue);
    }

    &.Gray2BorderedButton{
        border: 1px solid var(--color-gray-2);
    }
}