.UserButton{
    inline-size: 32px;
    block-size: 32px;
    border-radius: 50%;
    background: var(--color-gray-4);
    color: var(--color-gray-1);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    display: grid;
    place-items: center;
    cursor: pointer;
}